.mtn-heading {
  font-family: "MTNBrighterSans-Bold", sans-serif;
}
.mtn-button-text {
  font-family: "WorkSans-Regular", sans-serif;
  text-transform: uppercase;
}
.mtn-subheading {
  font-family: "MTNBrighterSans-Regular", sans-serif;
}
.mtn-page-title {
  font-family: "WorkSans-Bold", sans-serif;
  text-transform: uppercase;
}
.mtn-body-text {
  font-family: "WorkSans-Regular", sans-serif;
}
.mtn-button {
  border-radius: 24px;
  font-family: "WorkSans-Medium", sans-serif;
  text-transform: uppercase;
}
.mtn-section {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 860px) {
  .mtn-section {
    max-width: 90%;
  }
}
.mtn-bold-text {
  font-family: "WorkSans-Bold", sans-serif;
}
.internal-header-block {
  height: 180px;
  width: 100%;
  position: relative;
}
@media (max-width: 860px) {
  .internal-header-block {
    height: 80px;
  }
}
.page-title-container {
  max-width: 1200px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.page-title-container .mtn-page-title {
  font-size: 64px;
  line-height: 64px;
  color: #202020;
  text-transform: capitalize;
}
.breadcrumb-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
}
.breadcrumb-container .breadcrumb {
  list-style: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 14px;
}
.breadcrumb-container .breadcrumb-parent,
.breadcrumb-container .breadcrumb-toplevel {
  text-decoration: none;
  border: solid 1px #E8E8E8;
  border-radius: 4px;
  color: #202020;
  padding: 4px 8px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "WorkSans-Regular", sans-serif;
}
.breadcrumb-container .breadcrumb-parent:hover,
.breadcrumb-container .breadcrumb-toplevel:hover {
  background-color: #E8E8E8;
}
.breadcrumb-container .active-page-breadcrumb {
  text-transform: uppercase;
  color: #202020;
  font-size: 14px;
  line-height: 125%;
  font-family: "WorkSans-Bold", sans-serif;
}
.icon-card-section {
  max-width: 936px;
  margin-left: auto;
  margin-right: auto;
}
.icon-card-content {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.down-chevron {
  transform: rotate(-90deg);
  margin-left: 20px;
}
@media (max-width: 880px) {
  .hidden-sm {
    display: none;
  }
}
@media (min-width: 880px) {
  .hidden-lg {
    display: none;
  }
}
@media (min-width: 561px) {
  .news-carousel .mobile-only {
    display: none;
  }
}
@media (max-width: 560px) {
  .news-carousel .desktop-only {
    display: none;
  }
}
.carousel-section {
  border-radius: 24px;
  margin-left: 2.34%;
  margin-right: 2.34%;
  padding-bottom: 40px;
  margin-bottom: 80px;
}
.carousel-section .slick-dots {
  position: absolute;
  margin-bottom: -100px;
  width: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.carousel-tall {
  padding-top: calc(0.53 * 80vh);
}
.carousel-short {
  padding-top: calc(0.24 * 80vh);
}
.links-slider,
.info-slider {
  max-width: 1400px;
  margin: auto;
  padding-left: 5.76%;
  padding-right: 5.76%;
}
.links-slider .slick-track,
.info-slider .slick-track {
  display: flex;
  gap: 20px;
}
.links-slider .mtn-carousel-card-title,
.info-slider .mtn-carousel-card-title {
  color: #ffffff;
  font-family: "MTNBrighterSans-ExtraBold", sans-serif;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}
.links-slider .mtn-carousel-card-category,
.info-slider .mtn-carousel-card-category {
  text-align: center;
  color: #ffffff;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-top: 0;
}
.links-slider .mtn-carousel-card-link,
.info-slider .mtn-carousel-card-link {
  text-align: center;
  margin-top: 0px;
}
.links-slider .mtn-carousel-card-link a,
.info-slider .mtn-carousel-card-link a {
  color: #ffffff;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.links-slider .mtn-carousel-card,
.info-slider .mtn-carousel-card {
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(200, 200, 200, 0.15);
  backdrop-filter: blur(20px);
  padding: 20px!important;
  border-radius: 24px;
  box-sizing: border-box;
  border: solid 2px rgba(200, 200, 200, 0.07);
  min-height: 240px!important;
  max-height: 240px!important;
}
.carousel-heading-section {
  text-align: center;
  color: #ffffff;
}
.carousel-heading-section .mtn-heading {
  font-size: 56px;
  line-height: 61px;
  margin-bottom: 32px;
}
@media (max-width: 860px) {
  .carousel-heading-section .mtn-heading {
    font-size: 40px;
    line-height: 40px;
  }
}
.links-slider-dots,
.info-slider-dots {
  display: flex;
  justify-content: center;
}
.slick-dots {
  display: flex;
  padding: 1rem 0;
  list-style-type: none;
  position: relative;
  margin: 0;
  bottom: 4px;
}
.slick-dots > li:only-child {
  display: none;
}
.slick-dots li {
  cursor: pointer;
  outline: none;
  padding: 3px;
  border: solid 4px transparent;
  position: relative;
  width: 10px;
  height: 10px;
}
.slick-dots button {
  background-color: gray;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  border: none;
  outline: none;
  text-indent: -9999px;
}
.slick-dots li.slick-active:before {
  content: '';
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: -5px;
  left: -5px;
  padding: 2px;
  transition-delay: 1.3s;
  opacity: 1;
}
.slick-dots li.slick-active button {
  outline: none;
  background-color: #FFCB05;
  box-sizing: border-box;
}
.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  border: none;
  box-sizing: border-box;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 140px;
  top: 40%;
  text-align: center;
  pointer-events: auto;
  font-size: 0px;
}
.slick-next {
  right: 2%;
  background: url(../../../public/img/chevron-right.svg) no-repeat center #FFCB05;
}
.slick-next:after {
  transform: rotate(-45deg);
}
.slick-prev {
  left: 2%;
  background: url(../../../public/img/chevron-left.svg) no-repeat center #FFCB05;
}
.slick-prev:after {
  transform: rotate(-133deg);
  right: 15px;
}
